@using AnimeFigureProject.EntityModels;
@model AnimeFigureProject.WebApp.Models.CreateAnimeFigureModel
@{

    ViewData["Title"] = "Create";

}

<link rel="stylesheet" href="~/css/CreateCatalog.css" asp-append-version="true" />

<h1>Create anime figure</h1>

<div class="CreateBox">

    <div class="row" id="SubCreateBox">

        <div class="col-md-10">

            <form asp-action="Create" onsubmit="UploadData(this)">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="AnimeFigureInput">

                    <div class="ImageFiles">

                        <div class="ImagePreview">

                            <div id="MainImage">

                            </div>

                            <div id="SubImagePreview">
                                
                            </div>

                        </div>
                        <input id="formFile" class="form-control" type="file" name="images" accept="image/*" onchange="PreviewImages(event)" />

                    </div>


                    <div class="col-md-50 OtherInput">

                        <div class="form-group Spacing">

                            <label asp-for="NewAnimeFigure.Name" class="control-label"></label>
                            <input asp-for="NewAnimeFigure.Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="NewAnimeFigure.Name" class="text-danger"></span>

                        </div>

                        <div class="form-group Spacing Dropdown">

                            @Html.Label("Brand")
                            <br />
                            <input type="text" id="brandInput" name="brandName" />
                            <select id="brandDropdown" onchange="ChangeBrand()">

                                <option hidden disabled selected value="">(select an option)</option>

                                @if (Model.Brands != null)
                                {

                                    @foreach (Brand brand in Model.Brands)
                                    {

                                        <option value="@brand.Name">@brand.Name</option>

                                    }

                                }

                            </select>

                        </div>

                        <div class="form-group Spacing">

                            <div class="Dropdown">

                                @Html.Label("Origin")
                                <br />
                                <input type="text" id="originInput" />
                                <input type="button" onclick="AddOrigin()" class="btn btn-primary AddOrigin" value="+" />

                                <select id="originSelect" onchange="ChangeOrigin()">

                                    <option hidden disabled selected value="">(select an option)</option>

                                    @if (Model.Origins != null)
                                    {

                                        @foreach (Origin origin in Model.Origins)
                                        {

                                            <option value="@origin.Name">@origin.Name</option>

                                        }

                                    }

                                </select>

                            </div>

                            <div id="Choosen">

                                <input type="hidden" name="selectedOrigins" id="selectedOrigins" />

                            </div>

                        </div>

                        <div class="form-group Spacing Dropdown">

                            @Html.Label("Category")
                            <br />
                            <input type="text" id="categoryInput" name="categoryName" />
                            <select id="categoryDropdown" onchange="ChangeCategory()">

                                <option hidden disabled selected value="">(select an option)</option>

                                @if (Model.Categories != null)
                                {

                                    @foreach (Category category in Model.Categories)
                                    {

                                        <option value="@category.Name">@category.Name</option>

                                    }

                                }

                            </select>

                        </div>

                        <div class="NumberInput">

                            <div class="form-group Spacing">

                                <label asp-for="NewAnimeFigure.Price" class="control-label"></label>
                                <input asp-for="NewAnimeFigure.Price" class="PriceInput" type="number" placeholder="Price" class="form-control" />
                                <span asp-validation-for="NewAnimeFigure.Price" class="text-danger"></span>

                            </div>

                            <div class="form-group Spacing">

                                <label asp-for="NewAnimeFigure.Value" class="control-label"></label>
                                <input asp-for="NewAnimeFigure.Value" class="ValueInput" type="number" placeholder="Value" class="form-control" />
                                <span asp-validation-for="NewAnimeFigure.Value" class="text-danger"></span>

                            </div>

                            <div class="form-group Spacing">

                                <label asp-for="NewAnimeFigure.YearOfRelease" class="control-label">Year of release</label>
                                <input asp-for="NewAnimeFigure.YearOfRelease" class="ValueInput" type="number" placeholder="Year" min="1950" max="@DateTime.Now.Year" class="form-control" />
                                <span asp-validation-for="NewAnimeFigure.YearOfRelease" class="text-danger"></span>

                            </div>

                        </div>

                        <div class="DescriptionInputab-content Spacing">

                            <label asp-for="NewAnimeFigure.Description" class="control-label"></label>
                            <textarea asp-for="NewAnimeFigure.Description" class="ValueInput" rows="3" cols="50" maxlength="200"></textarea>
                            <span asp-validation-for="NewAnimeFigure.Description" class="text-danger"></span>

                        </div>
                        
                        <div class="form-group CreateBoxButtons">

                            <a asp-action="Index"><input type="button" value="Cancel" class="btn btn-primary" /></a>
                            <input type="submit" value="Create" class="btn btn-primary CreateButton" />

                        </div>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>

<script src="~/js/CreateFigure.js"></script>

@section Scripts 
{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
