@using AnimeFigureProject.EntityModels;
@model DetailAnimeFigureModel
@{
   
    ViewData["Title"] = "Details";

}

<link rel="stylesheet" href="~/css/DetailsCatalog.css" asp-append-version="true" />

<h1>@Model.NewAnimeFigure.Name</h1>

<div class="DataBox">

    <hr />

    <div class="AnimeFigureData">

        <div class="ImageFiles">

            <div class="ImagePreview">

                <div id="MainImage">

                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Images[0].FileContents)" />

                </div>

                <div id="SubImagePreview">

                    @for (int i = 1; i < Model.Images.Count(); i++)
                    {

                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Images[i].FileContents)" />

                    }

                </div>

            </div>

        </div>

        <dl class="row OtherData">

            <dt class="col-sm-2 Spacing">
                @Html.DisplayNameFor(model => model.NewAnimeFigure.Name)
            </dt>

            <dd class="col-sm-10 Spacing">
                @Html.DisplayFor(model => model.NewAnimeFigure.Name)
            </dd>

            <dt class="col-sm-2">
                Brand
            </dt>

            <dd class="col-sm-10 Spacing">
                @Html.DisplayFor(model => model.NewAnimeFigure.Brand.Name)
            </dd>
            
            <dt class="col-sm-2 Spacing">
                Type
            </dt>

            <dd class="col-sm-10 Spacing">
                @Html.DisplayFor(model => model.NewAnimeFigure.Category.Name)
            </dd>

            <dt class="col-sm-2 Spacing">
                Origins
            </dt>

            <dd class="col-sm-10 Spacing">
                @if (Model.NewAnimeFigure.Origins != null)
                {

                    @foreach (Origin origin in Model.NewAnimeFigure.Origins)
                    {

                        <button class="btn btn-primary">@origin.Name</button>
                
                    }

                }
            </dd>

            <dt class="col-sm-2 Spacing">
                @Html.DisplayNameFor(model => model.NewAnimeFigure.Price)
            </dt>

            <dd class="col-sm-10 Spacing">
                @Html.DisplayFor(model => model.NewAnimeFigure.Price)
            </dd>

            <dt class="col-sm-2 Spacing">
                @Html.DisplayNameFor(model => model.NewAnimeFigure.Value)
            </dt>

            <dd class="col-sm-10 Spacing">
                @Html.DisplayFor(model => model.NewAnimeFigure.Value)
            </dd>

        </dl>

    </div>

</div>

<div>

    <a asp-action="Index"><input type="button" value="Back" class="btn btn-primary" /></a>

</div>
