@using AnimeFigureProject.EntityModels;
@model AnimeFigureProject.WebApp.Models.AllAnimeFiguresModel
@{
    ViewData["Title"] = "Catalog";
}

<link rel="stylesheet" href="~/css/MainCatalog.css" asp-append-version="true" />

<div class="SearchBar">

    <input type="text" id="SearchbarInput" name="MainSearchbar" placeholder="Search">

    <div class="FilterDropdown">

        <input type="button" class="btn btn-secondary DropdownButton" value="Filter">

        <div class="DropdownContent">

            <div class="DropdownSubContent">

                <div class="DropDownCategory" id="Category">

                    <p>Category</p>

                    <hr>

                    @foreach (Category category in Model.Categories)
                    {

                        <div>

                            <input id="@category.Id" type="checkbox" />
                            <label>@category.Name</label>

                        </div>

                    }

                </div>

                <div class="DropDownCategory" id="Brand">

                    <p>Brand</p>

                    <hr>

                    @foreach (Brand brand in Model.Brands)
                    {

                        <div>

                            <input id="@brand.Id" type="checkbox"/>
                            <label>@brand.Name</label>

                        </div>

                    }

                </div>

                <div class="DropDownCategory" id="Origin">

                    <p>Origin</p>

                    <hr>

                    @foreach (Origin origin in Model.Origins)
                    {

                        <div>

                            <input id="@origin.Id" type="checkbox" />
                            <label>@origin.Name</label>

                        </div>

                    }

                </div>

            </div>

        </div>

    </div>

    <div class="VerticalDiv">

        <a asp-action="Create">
            <input type="button" class="btn btn-secondary" value="Add figure">
        </a>

    </div>

</div>

<table class="table">

    <thead>

        <tr>

            <th>
                @Html.DisplayNameFor(model => model.AnimeFigures[0].Name)
            </th>
            
            <th>
                Type name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AnimeFigures[0].Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AnimeFigures[0].Value)
            </th>
            
            <th></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model.AnimeFigures) 
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                @if (item.Category != null)
                {

                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>

                }

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>

            </tr>

        }

    </tbody>

</table>

<script src="~/js/MainCatelog.js"></script>
